<ion-header no-border>
  <div class="inspiring">
    <img src="../../assets/imgs/logo_inspiring.png" />
  </div>
  <div class="febrafar">
    <img src="../../assets/imgs/logo_pec.png" />
    <img src="../../assets/imgs/logo_febrafar.svg" />
    <img src="../../assets/imgs/vida.svg" />
  </div>
</ion-header>

<ion-content color="background">
  <ion-button routerLink="/" fill="clear" class="back">
    <ion-icon color="dark" mode="ios" name="arrow-back"></ion-icon>
  </ion-button>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="5" class="ion-no-padding column">
        <div class="form">
          <h3>Qual o seu nome?</h3>
          <div class="input-wrapper">
            <ion-input
              (ionInput)="verifyName($event)"
              required
              [(ngModel)]="name"
              placeholder="Nome do(a) convidado(a)"
              maxLength="36"
              clear-input
            >
            </ion-input>
            <small
              [ngClass]="{ 'show': errorName, 'hide': !errorName }"
              class="error"
            >
              Informe seu primeiro nome
            </small>
          </div>

          <ion-button
            (click)="continue()"
            mode="md"
            routerLink="/info"
            class="primario"
          >
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
            Continuar
          </ion-button>
        </div>
        <div class="detail"></div>
      </ion-col>
      <ion-col size="7" class="text">
        <img class="background cracha" src="./../assets/imgs/cracha.svg" />
        <h3 class="up-name">{{ name }}</h3>
        <img
          class="rede up-rede"
          src="../../assets/imgs/vida.svg"
          alt="logo da vida farmácias"
        />
        <h4
          class="up-rede"
          [hidden]="!errorImg || rede == undefined || rede == ''"
        >
          {{ rede }}
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img
    class="bg-gosma"
    src="../../assets/imgs/gosma.svg"
    alt="fundo da cor vida"
  />
</ion-content>
