<div class="print-content">
  <div class="ticket-bg"></div>
  <div class="ticket">
    <p class="cpf">
      <img src="../../assets/imgs/logo-black.svg" />
    </p>
    <p class="name">
      {{ name }}
    </p>
    <div class="logo">
      Seja bem-vindo(a) ao evento<br />
      Uma Vida Vários Corações
    </div>
    <span class="slogan">
      Confira as ofertas exclusivas que selecionamos especialmente para você:
    </span>
    <div class="header-img">
      <img src="../../assets/imgs/exclusive-offers-header.svg" />
    </div>
    <div class="offers">
      <ng-template [ngIf]="true" *ngFor="let i of ids; let last = last">
        <div class="offer">
          <div>
            <p class="product-name">
              {{ products[i].name }}
            </p>
            <p class="product-description"></p>
          </div>
          <span *ngIf="products[i].type == 'fixed'">
            <p class="discount-label full-price">
              R$ 2,00
            </p>
            <p class="discount fixed">0<span>,00</span></p>
          </span>

          <span *ngIf="products[i].type == 'desconto'">
            <p class="discount percentual">
              100
            </p>
            <p class="discount-label">
              desconto
            </p>
          </span>

          <span *ngIf="products[i].type == 'desconto_unidade'">
            <p class="discount quantidade">
              3
            </p>
            <p class="discount-label">
              pague 0
            </p>
          </span>
        </div>
        <hr *ngIf="!last" />
      </ng-template>
      <div class="header-img">
        <img src="../../assets/imgs/suggestion-offers-header.svg" />
      </div>
      <div class="offers">
        <div class="offer">
          <div>
            <p class="product-name">
              Jantar
            </p>
            <p class="product-description">
              Uma noite a Portuguesa
            </p>
          </div>
          <span>
            <p class="discount">
              20h
            </p>
            <p class="discount-label">
              22/03
            </p>
          </span>
        </div>
        <hr />

        <div class="offer">
          <div>
            <p class="product-name">
              Treinamento Nortus
            </p>
            <p class="product-description">
              Encontro de Tubarões
            </p>
          </div>
          <span>
            <p class="discount">
              Dia todo
            </p>
            <p class="discount-label">
              24/03
            </p>
          </span>
        </div>
        <hr />

        <div class="offer">
          <div>
            <p class="product-name">
              Treinamento Nortus
            </p>
            <p class="product-description">
              Encontro de Tubarões
            </p>
          </div>
          <span>
            <p class="discount">
              Manhã
            </p>
            <p class="discount-label">
              25/03
            </p>
          </span>
        </div>
        <hr />
      </div>
      <p class="endereco">
        Plaza São Rafael Hotel - Av. Alberto Bins, 514
        <br />
        Centro, Porto Alegre - RS, 90030-140
      </p>
      <div class="logos">
        <div class="febrafar">
          <img src="../../assets/imgs/febrafar-gray.svg" />
        </div>
        <div class="inspiring">
          <!-- <img src="../../assets/imgs/inspiring.svg" /> -->
          <img src="../../assets/imgs/logo_inspiring_black.svg" />
        </div>
      </div>
      <hr />
    </div>
    <div class="footer">
      <p class="legal">
        Você tem em suas mãos uma amostra da nova funcionalidade do App do PEC:
        Impressão de Cupom de Desconto. Saiba Como ter este importante
        diferencial competitivo em sua rede para conquistar mais clientes e
        alavancar vendas.
        <br /><br />
      </p>

      <p class="legal" style="text-align: center;">
        <b>
          Baixe o nosso app
        </b>
      </p>
    </div>
    <div class="download">
      <img
        src="../../assets/imgs/qr-code.svg"
        alt="acesse o app da rede vida"
      />
    </div>
  </div>
</div>
