ion-grid ion-row ion-col {
  height: 92vh;
}

ion-row {
  overflow: hidden;
}

.group-text {
  margin-bottom: 6.5vh;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #666666;
  padding-bottom: 0;
  position: relative;

  h3 {
      font-weight: 900;
      font-size: 9vh;
      line-height: 10vh;
      text-transform: uppercase;
  }

  span {
      font-style: normal;
      font-weight: 300;
      font-size: 4.5vh;
      line-height: 7vh;

      strong {
          font-style: normal;
          font-weight: 900;
      }

      small {
          font-weight: 900;
          color: var(--pec);
          font-size: 4.5vh;
      }
  }

  img {
    position: absolute;
    bottom: -22vh;
    height: 125vh;
  }
}

.azul {
  position: absolute;
  bottom: 15vh;
  left: -22vw;
}

.azul img {
  width: auto;
  height: 55vh;
}

.verde {
  position: absolute;
  bottom: -1vh;
  left: -20vw;
  
}

.verde img {
  height: 86vh;
  max-width: 70vw;    
}

.amarelo {
  position: absolute;
  bottom: -1vh;
  left: -2vw;
}

.amarelo img {
  width: auto;
  height: 40vh;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-left: 7vw;

  h3 {
    width: 100%;
    color: white;
    text-align: left;
    font-weight: 900;
    font-size: 3.5vh;
  }

  ion-input {
    --background: white;
    border-radius: 1vh;
    border: 0.1vh solid #666;
    --padding-start: 2vh;
    --padding-end: 2vh;
    --padding-top: 2vh;
    --padding-bottom: 2vh;
    font-size: 3vh;
  }

  .primario {
    width: 100%;
  }
}

.detail {
  z-index: 1;
}