<ion-header no-border>
  <div class="inspiring">
    <img src="../../assets/imgs/logo_inspiring.svg" />
  </div>
  <div class="febrafar">
    <img src="../../assets/imgs/logo_pec.svg" />
    <img src="../../assets/imgs/logo_febrafar.svg" />
  </div>
</ion-header>

<ion-content color="background">
  <ion-button
    routerLink="/"
    fill="clear"
    class="back">
    <ion-icon color="light" mode="ios" name="arrow-back"></ion-icon>
  </ion-button>
  
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="5" class="ion-no-padding column">
        <div class="form">
          <h3>Qual o seu nome?</h3>
          <div class="input-wrapper">
            <ion-input
              (ionInput)="verifyName($event)"
              required
              [(ngModel)]="name"
              placeholder="Nome do convidado(a)"
              clear-input>
            </ion-input>
            <small
              [ngClass]="{ 'show': errorName, 'hide': !errorName }"
              class="error">
              Informe seu primeiro nome
            </small>
          </div>
  
          <h3>E sua REDE?</h3>
          <div class="input-wrapper">
            <ion-input
              (ionInput)="verifyRede($event)"
              required
              clear-input
              [(ngModel)]="rede"
              placeholder="Nome da rede">
            </ion-input>
            <small
              [ngClass]="{ 'show': errorRede, 'hide': !errorRede }"
              class="error">
              Informe a sua rede
            </small>
          </div>

          <ion-button
            (click)="continue()"
            mode="md"
            routerLink="/info"
            class="primario">
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
            Continuar
          </ion-button>
        </div>
        <div class="detail">
          <div class="verde">
            <img src="./../assets/imgs/elemento_verde.png" />
          </div>
          <div class="amarelo">
            <img src="./../assets/imgs/elemento_amarelo.png" />
          </div>
          <div class="azul">
            <img src="./../assets/imgs/elemento_azul.png" />
          </div>
        </div>
      </ion-col>
      <ion-col size="7" class="text">
        <img class="background" src="./../assets/imgs/cracha.svg" />
        <h3>{{ name }}</h3>
        <img
          class="rede"
          [hidden]="errorImg"
          (error)="isErrorImg(true)"
          (load)="isErrorImg(false)"
          [src]="'./../assets/logos/logos_REDES-' +  redeIndex + '.svg'"
          [alt]="rede">
        <h4 [hidden]="!errorImg || rede == undefined || rede == '' || rede?.length <= 4">
          {{ rede }}
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
