
$primary: #4ab848;
$secondary: #ffc600;
$tertiary: #005bb3;
$success: #b4dc7f;
$warning: #ffc600;
$danger: #d1495b;
$dark: #222428;
$medium: #858585;
$light: #999;

ion-grid {
  padding: 0;
  margin: auto;
  width: 70vw;
}

ion-row {
  width: 70vw;
}

.product-card {
  --background: white;
  margin: 0;
  padding: 2vh;
  padding-top: 0;
  padding-bottom: 1.7vh;
  border-radius: 1.5vh;
  border: .5vh solid white;
  transition: all 0.1s linear;

  &.selected {
    border: .5vh solid $primary;
  }

  &:hover {
    border: .5vh solid $primary;
  }

  .product-img-container {
    margin: 0 auto;

    figure {
      margin-bottom: 2vh;
    }

    img {
      height: 12vh;
      width: auto;
      margin: 0 auto;
    }

    p {
      color: $medium;
      font-weight: 500;
      text-align: center;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      font-size: 2.25vh;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5vh;
  color: $primary;
  margin: 0;
}

h6 {
  text-transform: uppercase;
  color: $light;
  font-size: 1.9vh;
  text-align: center;
  margin: 0;
}

ion-col {
  position: relative;
  padding: 1.5vh;
  padding-bottom: 0.5vh;
}

.sticker-right {
  position: absolute;
  right: 0vw;
  top: 0vh;
  width: 5vh;
  height: auto;
  z-index: 1;
  color: var(--ion-color-danger);
  fill: var(--ion-color-danger);
  opacity: 1;
  transition: opacity 0.1s linear;

  &.disabled {
    opacity: 0.5;
  }
}

.price {

  &.before {
    text-decoration: line-through;
  }

  &::before {
    content: 'R$';
    font-size: 2vh;
  }
}

.discount {
  color: $primary;

}

strong {
  font-weight: 900;
}

.print-header {
	background-color: $tertiary;
	color: white;
	padding: 1vh;
	border-radius: 1vh;
  position: relative;
  font-size: 2.5vh;  
  width: 72vw;

  span {
    max-width: 65vw;
  }

  strong {
    margin-left: 0.5vh;
  }

  @media screen and (max-width: 575px) {
    strong {
      margin-left: 0.5vh;
      display: block;
    }
  }

	.print-avatar {
		position: absolute;
		right: -2vw;
		top: 0;
		border-radius: 100%;
		height: 5vh;
		width: 5vh;
		padding: 1vh;
    border: 0.75vh solid $tertiary;
    color: $tertiary;
		z-index: 3;
		background-color: #f5f5f5;
	}
}

.index {
  font-size: 2.5vh;
  align-items: center;
  display: flex;
}

ion-button {
  font-size: 2.25vh;
  height: 4.5vh;
  text-transform: uppercase;
  --box-shadow: none;  
  --background: var(--gradient-button);
  --background-hover: var(--gradient-button-ligth);
  --background-activated: var(--gradient-button-ligth);
  --border-radius: 1vh;
}