// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Raleway', 'Roboto', sans-serif !important;
	--ion-default-font: 'Raleway', 'Roboto', sans-serif !important;

	--ion-color-primary: #4ab848;
	--ion-color-primary-rgb: 74, 184, 72;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #41a23f;
	--ion-color-primary-tint: #5cbf5a;

	--ion-color-secondary: #ffc600;
	--ion-color-secondary-rgb: 255, 198, 0;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0, 0, 0;
	--ion-color-secondary-shade: #e0ae00;
	--ion-color-secondary-tint: #ffcc1a;

	--ion-color-tertiary: #005bb3;
	--ion-color-tertiary-rgb: 0, 91, 179;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #00509e;
	--ion-color-tertiary-tint: #1a6bbb;

	--ion-color-success: #b4dc7f;
	--ion-color-success-rgb: 180, 220, 127;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #9ec270;
	--ion-color-success-tint: #bce08c;

	--ion-color-warning: #ffc600;
	--ion-color-warning-rgb: 255, 198, 0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ae00;
	--ion-color-warning-tint: #ffcc1a;

	--ion-color-danger: #d1495b;
	--ion-color-danger-rgb: 209, 73, 91;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #b84050;
	--ion-color-danger-tint: #d65b6b;

	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34, 34, 34;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #222428;
	--ion-color-dark-tint: #222428;

	--ion-color-medium: #666666;
	--ion-color-medium-rgb: 102, 102, 102;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #5a5a5a;
	--ion-color-medium-tint: #757575;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244, 244, 244;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
  .ion-color-background {
		--ion-color-base: #f5f5f5;
		--ion-color-base-rgb: 245, 245, 245;
		--ion-color-contrast: #666666;
		--ion-color-contrast-rgb: 102, 102, 102;
		--ion-color-shade: #d8d8d8;
		--ion-color-tint: #f6f6f6;
	}

	--pec: #EFA11A;
	--gradient-button: linear-gradient(90deg, #F9C500 0%, #EFA11A 100%);
	--gradient-button-ligth: linear-gradient(90deg, rgba(249, 197, 0, 0.8) 0%, rgba(239, 161, 26, 0.8) 100%);
}
