// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Raleway", "Roboto", sans-serif !important;
  --ion-default-font: "Raleway", "Roboto", sans-serif !important;

  --ion-color-primary: #9f2328;
  --ion-color-primary-rgb: 159, 35, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8c1f23;
  --ion-color-primary-tint: #a9393e;

  --ion-color-secondary: #2d5093;
  --ion-color-secondary-rgb: 45, 80, 147;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #284681;
  --ion-color-secondary-tint: #42629e;

  --ion-color-tertiary: #dfdfdf;
  --ion-color-tertiary-rgb: 223, 223, 223;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c4c4c4;
  --ion-color-tertiary-tint: #e2e2e2;

  --ion-color-success: #4fc646;
  --ion-color-success-rgb: 79, 198, 70;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #46ae3e;
  --ion-color-success-tint: #61cc59;

  --ion-color-warning: #fef4c5;
  --ion-color-warning-rgb: 254, 244, 197;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0d7ad;
  --ion-color-warning-tint: #fef5cb;

  --ion-color-danger: #ed1733;
  --ion-color-danger-rgb: 237, 23, 51;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d1142d;
  --ion-color-danger-tint: #ef2e47;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #222428;
  --ion-color-dark-tint: #222428;

  --ion-color-medium: #666666;
  --ion-color-medium-rgb: 102, 102, 102;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5a5a5a;
  --ion-color-medium-tint: #757575;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  .ion-color-background {
    --ion-color-base: whitesmoke;
    --ion-color-base-rgb: 245, 245, 245;
    --ion-color-contrast: #666666;
    --ion-color-contrast-rgb: 102, 102, 102;
    --ion-color-shade: #d8d8d8;
    --ion-color-tint: whitesmoke;
  }

  --pec: #9f2328;
  --gradient-button: linear-gradient(90deg, #9f2328 0%, #700f1f 100%);
  --gradient-button-ligth: linear-gradient(90deg, #ce5249 0%, #9f2328 100%);
}
