<ion-content>
  <div class="ticket-bg"></div>
  <div class="ticket">
    <img
				class="logo"
				src="${urlImg}"
			  alt="Logo"
			/>
    <p class="name">
      Nome
    </p>
    <p class="cpf">
      Rede Drogamais
    </p>
    <span class="slogan"
      >Confira as ofertas exclusivas que selecionamos especialmente para você:
    </span>
    <div class="header-img">
      <img src="../../assets/imgs/exclusive-offers-header.svg" />
    </div>
    <div class="offers">
      <div class="offer">
        <div>
          <p class="product-name">
            Nome
          </p>
          <p class="product-description">
          </p>
        </div>
        <span>
          <p class="discount-label full-price">
            R$ 2,00
          </p>
          <p class="discount fixed">
            0<span>,00</span>
          </p>
        </span>
      </div>
      <hr />
    </div>
  <div class="foofer">
    <p class="legal">
      Você tem em suas mãos uma amostra da nova funcionalidade do App do PEC:
      Impressão de Cupom de Desconto. Saiba Como ter este importante diferencial
      competitivo em sua rede para conquistar mais clientes e alavancar vendas.
      <b>
        Entre em contato com nosso Departamento de Capacitação:
      </b>
      <br /><br />
    </p>
    <p class="legal">
      <b>
        email:
      </b>
      capacitacao@febrafar.com.br
    </p>
    <p class="legal">
      <b>
        whatsapp:
      </b>
      11 98765-4321
    </p>
  </div>
</div>
</ion-content>
