ion-grid ion-row ion-col {
    height: 91vh;
}

.group-text {
    margin-bottom: 50px;
}

.text {
    display: flex;
    align-items: flex-end;
    text-align: left;
    color: #666666;

    h3 {
        font-weight: 900;
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
    }

    span {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 50px;

        strong {
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 50px;
        }

        small {
            font-weight: 900;
            font-size: 30px;
            color: var(--pec);
        }
    }
}

img {
    position: absolute;
    bottom: 0;
    width: 600px;
    max-width: 600px;
}